body {
    background-image: url('silicon1.png');
    background-repeat: no-repeat;
    background-position: auto;
    background-attachment: fixed;
    background-size: 400px;
}
#first {
    margin-left: auto;
    text-align: right;
    margin-top: 100px;
    padding: 5px;
    padding-left: -8px;
    padding-right: 13px;
    font-size: 6px;
}
a:link{
    text-decoration: none;

}
a{
    color: rgb(255, 254, 254);
}